
.sidebar {
    height: 100vh !important;
    /* border-radius: 5px; */
     background-color: #176B87;
    box-shadow: 0 0 2px gray;
    color: white;
  }
  
  .menu {
    padding-top: 100px;
  }
  
  .menu-item {
    padding-top: 30px;
  }
  
  .menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .menu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
    color: white;
  }
  
  .active {
    background-color: white;
    padding: 10px;
    margin-top: 25px;

  }
  .action{
    margin: 10px;
  }
  
  .active a,
  .active i {
    color: #2e3200;
  } 
 .btn
  {
    margin-top:12px;
  } 

  .hover-effect:hover {
    /* Define the styles you want when hovering */
    /* For example, change background color and add a box shadow */
    background-color: lightblue ;
    box-shadow: 0 0 10px rgba(27, 26, 26, 0.2);
    
  }
  .shorter-box {
    width: 17%;  /* You can adjust this value as needed */
    height: 31px;
    border-radius: 0.2cm;
  }
  
  .hover-effect-1:hover{
    /* Define the styles you want when hovering */
    /* For example, change background color and add a box shadow */
    background-color:#17a2b8 !important;
    width: 200px;
    height: 45px;
    box-shadow: 0 0 10px rgba(27, 26, 26, 0.2);
    border-radius: 0.3cm;
    
  }
 
  .hover-effect-2:hover{
    /* Define the styles you want when hovering */
    /* For example, change background color and add a box shadow */
    background-color:#17a2b8 !important;
   
    box-shadow: 0 0 10px rgba(27, 26, 26, 0.2);
    border-radius: 0.3cm;
    
  }
 
  
 